.auction-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.auction-info {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.auction-info img {
  align-self: center;
  max-width: 40%;
  max-height: 30%;
}

.auction-info strong {
  font-size: xx-large;
}

.bid-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bid-section form {
  padding-bottom: 20px;
}

.bid-section-table {
  overflow-y: auto;
  width: 100%;
  max-height: 250px;
  padding-right: 10px;
}

.bid-section-table table {
  border: 1px solid #dededf;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
}

.bid-section-table th {
  border: 1px solid #dededf;
  background-color: #eceff1;
  color: #000000;
  padding: 5px;
}

.bid-section-table td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}

.comment-section {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  gap: 15px;
}

.comment-section-post {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.comment-section-post-box {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  padding: 8px;
  border: solid 1px rgba(83, 83, 83, 0.438);
  font-size: 14px;
  margin-bottom: 10px;
}

.comment-section-post-box-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.comment-section-post-box-info strong {
  font-size: large;
}

.comment-section-post-box-info small {
  color: rgb(102, 102, 102);
}

.comment-section-post-box-response {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-left: 15px;
  gap: 10px;
}

.comment-section-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 10px;
}

.comment-section-form input {
  max-width: fit-content;
}