{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}

    <h2>Listing: {{ auction_data.title }}</h2>
    <div id="auction" class="auction-item">
        <div class="auction-info">
            <img src={{auction_data.photo}}>
            <strong>${{ highest_bid.offer_price|default:auction_data.current_price|intcomma }}</strong>
            <p>
                {{ auction_data.description }}
            </p>
            <h3>Details</h3>
            <ul>
                <li>
                    Listed by: {{ auction_data.seller_user }}
                </li>
                <li>
                    Category: {{ auction_data.get_category_display }}
                </li>
            </ul>
        </div>
        {% if user_data.is_authenticated and auction_data.seller_user != user_data  %}
            {% block bid-content %}
                {% include "auctions/bids.html" with id_auction=auction_data.id %}
            {% endblock %}
        {% endif %}
    </div>
    {% block comments-content %}
        <h2>Comments</h2>
        {% include "auctions/comments/comments.html" with id_auction=auction_data.id %}
    {% endblock %}

{% endblock %}