<div class="bid-section">
    <h3>Bids</h3>
    <form>
        <input type="number" placeholder="Set your bid value">
        <input type="submit" value="Place bid">
    </form>
    <h5>Bids History</h5>
    <div class="bid-section-table">
        <table>
            <thead>
            <tr>
                <th>Bid</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>100.000</td>
                <td>29/01/2023</td>
            </tr>
            <tr>
                <td>10.000.223</td>
                <td>11/19/1011</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>