{% load humanize %}

<div id="user-bids"  class="bid-section">
    <h3>Bids</h3>
    <form hx-post="{% url 'new_bid' auction_data.id %}" hx-target="#user-bids"
          hx-swap="outerHTML" >
        {% csrf_token %}
            {% for field in bid_form %}
                {{field}}
            {% endfor %}
        <input type="submit" value="Place bid">
    </form>
    {% for error in bid_form.non_field_errors %}
            <ul>
                <li>{{error}}</li>
            </ul>
        {% endfor %}
    <h5>Bids History</h5>
    <div class="bid-section-table">
        {% if bid_data_list %}
        <table>
            <thead>
            <tr>
                <th>Bid</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for bid in bid_data_list %}
            <tr>
                <td>${{bid.offer_price|intcomma}}</td>
                <td>{{bid.update_time|date:'SHORT_DATETIME_FORMAT'}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <label class="bid-section-empty-table">No bids yet</label>
        {% endif %}
    </div>
</div>