<h2 id="comments">Comments</h2>
<div class="comment-section">
    <div class="comment-section-post">
        {% for comment in auction_comments %}
            <div class="comment-section-post-box">
                <div class="comment-section-post-box-info">
                    <strong>{{comment.client_user.username}}</strong>
                    <small>{{comment.create_date|date:'SHORT_DATE_FORMAT'}}</small>
                </div>
                <p>
                    {{comment.comment}}
                </p>
                {% if comment.response %}
                    <div class="comment-section-post-box-response">
                        <span style="font-size:20px; color: black;">&#8627;</span>
                        <p>
                            {{comment.response}}
                        </p>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {% if user_data.is_authenticated %}
            <form class="comment-section-form">
                <textarea placeholder="Se supone que debo crear esto por django"></textarea>
                <input type="submit" value="Add Comment">
            </form>
        {% endif %}
    </div>
</div>