<div id="comments" class="comment-section">
    <div class="comment-section-post">
        {% for comment,response_form in auction_comments_list %}
            <div class="comment-section-post-box">
                <div class="comment-section-post-box-info">
                    <strong>{{ comment.client_user.username }}</strong>
                    <small>{{ comment.create_date|date:'SHORT_DATE_FORMAT' }}</small>
                </div>
                <p>
                    {{ comment.comment }}
                </p>
                <div id="response-section-{{ comment.id }}">
                    {% include "auctions/comments/comment_response.html" %}
                </div>
            </div>
        {% empty %}
            <h3>No comments yet</h3>
        {% endfor %}
    </div>
    {% if user.is_authenticated and auction_data.seller_user != user %}
        <form class="comment-section-form"
              hx-post="{% url 'new_comment' id_auction %}"
              hx-target="#comments"
              hx-swap="outerHTML">
            {% csrf_token %}
            {% for field in new_comment_form %}
                {{ field }}
            {% endfor %}
            <input type="submit" value="Add Comment">
        </form>
    {% endif %}
</div>